body {
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button-container {
    display: flex;
    gap: 5px;
}

.button-container form {
    margin: 0;
}